:root {
  --page_bg_color: #f6f6f2;
  --page_text_color: #000000;
  --control_bg_color: #fff;
  --control_text_color: #1b221b;
  --primary_bg_color: #675143;
  --primary_bg_color_highlight: #9d612c;
  --primary_text_color: #ffffff;
  --primary_border_color: #4b4747;
  --secondary_bg_color: #f6f6f2;
}
